<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                <th>Title</th>
                <th>Character</th>
            </tr>
            {{#each cast}}
                <tr>
                    <td>
                        <a href='/../movies/{{id}}'>{{title}}</a>
                    </td>
                    <td>{{character}}</td> 
                     

                </tr>
               
            {{/each}}
        </table>

    </body>

</html>