<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
            {{#each .}}
                <tr>
                    <td>{{id}}</td>
                    <td>
                        <a href='movies/{{id}}'>
                        {{title}}
                        </a>
                    </td>

                </tr>
            {{/each}}
        </table>

    </body>

</html>