<p></p>
<h5>Classics</h5>
<table class="table card">
    {{#each classics}}
        <tr>
            <td>
                <a href="/movies/{{id}}/">
                    {{title}}
                </a>
            </td>
        </tr>
    {{/each}}
</table>